// Navigation Styles here
.headertop {
    // background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 1% 29.25%;
    border-bottom: 2px dashed @navigation-border;
    .logo {
        padding-top: 2%;
    }
    .nav {
        // background-color: bisque;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        padding-top: 3%;
        a {
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        margin-right: 15%;
        }
        a:last-child {
        margin-right: 0;
        }
    }
}